.footer{
    background-color: #17406c;
    height: 100%;
}
.footer h5{
    color: white;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}
.footer li{
    color: white;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
}
.footer ul{
    padding-left: 0px;
}